body {
  background-image: url(../images/top5.png);
}

nav {
  margin-top: 20px;
}

.navItem {
  padding-right: 20px;
  padding-left: 15px;
}

.quienes {
  padding: 10px 10px 10px 10px;
  font-size: 19px;
  background-color:#f8f8f8;
  border-radius: 20px;
  margin-top: 30px;
  color: #777;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

p {
  padding: 10px;
  text-align: justify;
}

p.tienda {
  text-align: center;
  font-weight: bold;
}

.navList {
  font-size: 18px;
}

.table {
  background-color:#f8f8f8;
  border-radius: 10px;
  margin-top: 30px;
  color: #777;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);

}

ul.nav {
  text-align: right;
}

th {
  text-align: center;
}

.updateCategoria, .deleteCategoria {
  background-color: rgba(173, 241, 7, 0.6);
}

.categorias>a {
  background-color:#f8f8f8;
  border-radius: 10px;
  color: white;
  background-color: rgba(85, 0, 131, 0.6);
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 40px 10px 40px 10px;
  margin: 20px;
  text-align: center;
  width: 200px;
  font-size: 20px;
}
