body {
  background-image: url(../images/top5.png);
}

nav, footer {
  margin: 50px;
}

.quienes {
  padding: 10px 10px 10px 10px;
  font-size: 19px;
  border-radius: 20px;
}

p {
  padding: 10px;
  text-align: justify;
}

p.tienda {
  text-align: center;
  font-weight: bold;
}

.navList {
  font-size: 20px;
  padding: 10px;
}

.table {
  border-radius: 10px;
}

ul.nav {
  text-align: right;
}

.thCenter {
  text-align: center;
}

.updateCategoria, .deleteCategoria, .deleteProducto, .updateProducto {
  background-color: rgba(173, 241, 7, 0.6);
}

.categorias>a {
  border-radius: 10px;
  color: white;
  background-color: rgba(85, 0, 131, 0.6);
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 40px 10px 40px 10px;
  margin: 20px;
  text-align: center;
  width: 300px;
  font-size: 20px;
}

li {
  list-style-type: none;
}

.productos {
  border-radius: 10px;
  font-size: 20px;
  padding: 20px 40px 40px 40px;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);

}

.productos,.table, .quienes, footer {
    background-color:#f8f8f8;
    color: #777;
    margin-top: 30px;
}

th {
  color: #8000a6;
}

.idCat {
  text-align: center;
}

.productoImagen {
  font-size: 20px;
}
a>.social {
  color: #510467 ;
}
a {
  color: #777;
}

a:hover{
  text-decoration: none;
  color: #8000a6;
}

.carousel-inner> .item> img {
  width:600px;
  height:400px;
  margin:auto;
}
#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}
.icons {
  margin-left: 250px ;
}
footer {
  border-radius: 10px;
  margin-top: 70px;
}
