body {
  background-image: url('../images/top5.png');
  font-family: sans-serif;
}

nav, footer {
  margin: 50px;
}

.quienes {
  padding: 20px 20px 20px 20px;
  font-size: 19px;
  border-radius: 20px;
}

p {
  padding: 10px;
  text-align: justify;
}

p.tienda {
  text-align: center;
  font-weight: bold;
}

.navList {
  font-size: 20px;
  padding: 10px;
}

.table {
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
}


.updateCategoria, .deleteCategoria, .deleteProducto, .updateProducto {
  background-color: rgba(173, 241, 7, 0.6);
}

.nombreCategoria {
  background-color: rgba(85, 0, 131, 0.6);
  color: white;
  margin-top: 30px;
  border-radius: 10px;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.categorias>a {
  border-radius: 10px;
  color: white;
  background-color: rgba(79, 1, 102, 0.73);
  padding: 40px 20px 40px 20px;
  margin: 30px;
  text-align: center;
  width: 300px;
  font-size: 20px;
}

.productos {
  border-radius: 10px;
  font-size: 20px;
  padding: 20px 40px 40px 40px;

}
.productos,.categorias>a,.nombreCategoria {
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
}
.productos,.table, .quienes, footer {
    background-color:#f8f8f8;
    color: #777;
    margin-top: 30px;
}

li {
  list-style-type: none;
}

th {
  color: #8000a6;
}

.productoImagen {
  font-size: 20px;
}

a>.social {
  color: #510467 ;
}

a {
  color: #777;
}

a:hover{
  text-decoration: none;
  color: #8000a6;
}

.carousel-inner> .item> img {
  width:600px;
  height:400px;
  margin:auto;
}

#social-fb:hover {
    color: #3B5998;
}

#social-tw:hover {
    color: #4099FF;
}

#social-gp:hover {
    color: #d34836;
}

#social-em:hover {
    color: #f39c12;
}

.icons {
  margin-left: 250px ;
}

.formContact {
  font-size: 15px;
  color: #5e0577;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 15px 15px rgba(0, 0, 0, 0.27);
  background-color: #f8f8f8;
  border-style: double;
  border-width: 6px;
}

footer {
  border-radius: 10px;
  margin-top: 70px;
}

.glyphicon-heart:before {
  color: #e68420;
}

form {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.bold {
  font-size: 15px;
  background-color: rgba(173, 241, 7, 0.6);
  padding: 10px;
  font-weight: bold;
}

@media (max-width: 500px) {
    #logo {
      width:50px;
    }
}

.imagenProductoAdmin {
  height: 100px;
}
